
*{
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: 
    #60A5FA;
    font-size:  30px;
    color: white;
    transition: 1s;

}

body:hover {
    background-color: #34D399;
}

.Block_todos {
    text-align: center;
}

table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 15px;
    height: auto;
    padding: 5px;
}

th {
    border-bottom: 1px solid black;
}




button {
    background-color: #9CA3AF;
    border-radius: 15px;
    border:none;
    width: 50px;
    height: 30px;
    transition: 1s;
    
}

button:hover {
    width: 150px;
}

input {
    border-radius: 15px;
    border: none;
    height: 25px;
    transition: 1s;
}

input:focus {
   background-color: #BFDBFE;
}

#add_Todos {
    width: 250px;
}
